@use "../../mixins/mixins.scss";

.Home {
    width: 100%;
    flex-direction: column;
    margin-top: 51px;
    display: flex;
    justify-content: center;
    &_InfoPara {
        font-size: 24px;
        text-transform: uppercase;
        color: white;
        background: black;
        text-align: center;
        margin-top: 0;
        margin-bottom: 4rem;
        padding: 5px;

        @include mixins.laptop {
            font-size: 20px;
        }
        @include mixins.tablet {
            font-size: 18px;
        }
        @include mixins.mobile {
            font-size: 16px;
            width: 100vw;
        }
    }
    &_Header {
        display: flex;
        flex-direction: row;
        margin-top: 0;
        font-weight: bold;
        font-size: 60px;
        @include mixins.laptop {
            font-size: 46px;
        }
        @include mixins.tablet {
            font-size: 43px;
        }
        @include mixins.mobile {
            font-size: 35px;
        }

        &-SpanStyle {
            font-size: 30px;
        }
    }
}

.ProductsContainer {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 15px;
    margin: 25px;
    margin-left: 61px;
    margin-right: 61px;
    width: 100%;
    flex-direction: row;
    text-transform: uppercase;
    padding: 10px;

    @include mixins.mobile {
        grid-template-columns: 1fr 1fr;
        margin-left: 0px;
        margin-right: 0px;
    }
    @include mixins.tablet {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0px;
        margin-right: 0px;
    }
    @include mixins.laptop {
        margin-left: 0px;
        margin-right: 0px;
    }
    @include mixins.desktop {
        margin-left: 0px;
        margin-right: 0px;
    }
    @include mixins.tv {
        margin-left: 0px;
        margin-right: 0px;
    }
    @include mixins.xxl {
        margin-left: 0px;
        margin-right: 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    &_SecondChildDiv {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        margin: 0;

        @include mixins.xxl {
            grid-gap: 0;
        }
        &-Div {
            display: grid;
            grid-template-columns: 1fr;
            height: 470px;
            margin-bottom: 0;
            align-content: flex-start;
            text-align: center;
            grid-gap: 0;
            padding-top: 0;
            padding-bottom: 0;
            @include mixins.xxl {
                width: 80%;
            }

            &-Title {
                font-size: 0.8125rem;
                line-height: 1.25rem;
                letter-spacing: 0.01625rem;
                height: fit-content;
                padding-right: 2px;
                padding-left: 2px;
            }
            &-Category {
                font-size: 0.75rem;
                color: #8c8c8c;
                height: fit-content;
                font-weight: bold;
            }
            &-Price {
                font-weight: bold;
                font-size: 0.9375rem;
                letter-spacing: 0.01812rem;
                height: fit-content;
            }

            &-Img {
                height: 300px;
                margin-bottom: 10px;
            }
        }
        &_Btn {
            display: flex;
            justify-content: center;
            width: 150px;
            height: 41px;
            border-radius: 5px;
            text-align: center;
            align-self: center;
            margin-bottom: 20px;
            font-weight: bold;
            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }
            &:active {
                transform: scale(1.3);
            }
        }
    }
}

.ProductCard {
    width: 100%;
}

.SubTitle {
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.Carousel {
    height: 30vw;
    @include mixins.desktop {
        height: 35vw;
    }
    @include mixins.laptop {
        height: 45vw;
    }
    @include mixins.tablet {
        height: 70vw;
    }
    @include mixins.mobile {
        height: 80vw;
    }
    @include mixins.xxl {
        height: 30vw;
    }
    @include mixins.tv {
        height: 39vw;
    }
}

.CarouselDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    @include mixins.xxl {
        height: 900px;
    }
    @include mixins.tv {
        height: 800px;
    }
}

.Slider {
    flex: 1;
    width: 100%;
    text-align: center;
    height: 400px;

    @include mixins.xxl {
        height: 715px;
    }
    @include mixins.tv {
        height: 615px;
    }
}
